.cart { 
    background: var(--white);
    padding: 4rem 0;
    font-family: "Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.cart .wrapper header,
.cart .wrapper .cart-container .cart-list-item {
    grid-template-columns: 2fr 3fr 2fr 2fr 1fr;
    width: 80vw;
    margin: auto;
    color: var(--darkGrey);
    border-bottom: 1px solid var(--lightGrey);
}

.cart .wrapper header { 
    height: 90px;
    border: 1px solid var(--lightGrey);
}
.cart .wrapper header .center h3 {
    font-size: 1.2rem;
    text-transform: capitalize;
}
.cart header .center,
.cart .cart-container .cart-list-item .center  { 
    margin: auto;
    width: 100%;
    text-align: center;
}

.cart .wrapper .cart-container { padding: 0 0 1.2rem; }

.cart .cart-container .cart-list-item .center {
    height: 110px;
    margin: auto;
    place-items: center;
}

.cart .cart-container .cart-list-item .quantity {
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
}
.cart .cart-container .cart-list-item .quantity button {
    padding: .5rem;
    border: 1px solid var(--lightGrey);
    background: transparent;
}
.cart .cart-container .cart-list-item .quantity span {
    /* padding: .5rem .5rem .5rem .75rem; */
    width: 45px;
    border: none;
}

.cart .cart-container .cart-list-item .center img {
    width: 100%;
    height: 100%;
    padding: .75rem;
}
.cart .cart-container .cart-list-item .center p {
    font-size: 1.15rem;
    text-transform: capitalize;
}
.cart .wrapper .cart-container .cart-list-item .center .btn {
    font-size: 1.15rem;
    background: transparent;
}


/* Container-fluid */
.cart .container-fluid {
    grid-template-columns: 2fr 1fr;
    width: 80vw;
    margin: 1rem auto 0;
    grid-gap: 0 2rem;
}
.cart .container-fluid section {
    width: 100%;
    place-items: start;
    margin: 0;
    grid-gap: 1rem 0;
}
.cart .container-fluid section .btns {
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-gap: 1rem;
}

.cart .container-fluid section .btns button {
    height: 40px;
    background: var(--red);
    text-transform: capitalize;
    color: var(--white);
    letter-spacing: var(--mainSpacing);
    border-radius: .25rem;
}

.cart .container-fluid section .btns .continue-shopping {
    background: transparent;
    border: 1px solid var(--red);
    color: var(--red);
    transition: var(--mainTransition);
}

.cart .container-fluid section .btns .continue-shopping:hover {
    background: var(--red);
    color: var(--white);
}
.cart .container-fluid section form {
    width: 100%;
    line-height: 2;
}
.cart .container-fluid section form h2 {
    font-weight: 500;
}
.cart .container-fluid section form p {
    color: var(--lightGrey);
    font-weight: lighter;
}
.cart .container-fluid section form input,
.cart .container-fluid section form .btn {
    height: 40px;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    margin: 1rem 0 0;
    border-radius: .25rem;
}
.cart .container-fluid section form input {
    width: 72.5%;
    border:  1px solid var(--lightGrey);
    padding: 0 .75rem;
}
.cart .container-fluid section form .btn {
    width: 25%;
    margin-left: 2.5%;
    background: var(--red);
    color: var(--white);
    padding: 0 .5rem;
    font-size: .75rem;
}

.cart .container-fluid section:nth-child(even) h2 {
    text-align: right;
    width: 100%;
    border-bottom: 1px solid var(--lightGrey);
    color: var(--darkGrey);
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
}
.cart .container-fluid section:nth-child(even) .center,
.cart .container-fluid section:nth-child(even) .center .price-info {
    margin: 0;
    width: 100%;
    color: var(--lightGrey);
}
.cart .container-fluid section:nth-child(even) .center .price-info {
    grid-template-columns: repeat(2, 1fr);
}
.cart .container-fluid section:nth-child(even) .center .price-info:nth-child(even) {
    place-self: end;
}
.cart .container-fluid section:nth-child(even) .btn {
    height: 40px;
    background: var(--red);
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin: 2rem 0 0;
    color: var(--white);
    font-size: .75rem; 
    border-radius: .25rem;
}

@media (max-width: 767px) {
    .cart  { overflow-x: scroll; }

    .cart .wrapper header,
    .cart .wrapper .cart-container .cart-list-item {
        width: 100vw;
    }

    .cart .container-fluid {
        width: 100vw;
        padding: 1rem;
    }

    .cart .container-fluid,
    .cart .container-fluid section .btns {
        grid-template-columns: 1fr;
    }
    .cart .container-fluid section form .btn { font-size: .5rem; }
}