.product-section h2{
    text-transform: capitalize;
    line-height: 2;
}
.product-section p{
    text-transform: lowercase;
    line-height: 1.75;
    letter-spacing: .02rem;
    word-spacing: .05rem;
}

/* Checkout button */
.product-section .product-checkout{
    border: .1rem solid var(--darkGrey);
    padding: 1rem;
    line-height: 5;
    border-radius: 5rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    transition: var(--mainTransition);
}

.product-section .product-checkout:hover{
    background: var(--darkGrey);
    color: var(--white);
}