.my_account .profile {
    grid-template-columns: repeat(12, 1fr);
    background: #e2e2e2;
    padding: 2rem;
}

.my_account .profile,
.my_account .profile .form-group,
.my_account .profile .form-group .center {
    margin: 0;
}

.my_account .profile .form-group {
    grid-column: 1/9;
    background: var(--white);
    padding: 1.5rem 1.5rem 0;
    box-shadow: 5px 5px 10px rgba(0,0,0,.25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif;
    border-radius: .25rem;
}

.my_account .profile .form-group .center {
    grid-template-columns: repeat(12, 1fr);
}
.my_account .profile .form-group .center h3 {
    grid-column: 1/13;
    letter-spacing: var(--mainSpacing);
}

.my_account .profile .form-group .center p {
    grid-column: 1/3;
}

.my_account .profile .form-group .center input,
.my_account .profile .form-group .center button {
    grid-column: 3/13;
    height: 45px;
}

.my_account .profile .form-group .center input {
    grid-column: 3/13;
    height: 40px;
    border: 1px solid grey;
    padding: 0 1rem;
    font-family: inherit;
}

.my_account .profile .form-group .center button { 
    background: var(--mainGreen)transparent;
    color: var(--mainGreen); 
    height: 50px;
    width: 200px;
    transition: var(--mainTransition);
    border: 2px solid var(--mainGreen);
    border-radius: .25rem;
    letter-spacing: var(--mainSpacing);
}

.my_account .profile .form-group .center button:hover { 
    background: var(--mainGreen);
    color: var(--white);
}