.header .center:nth-child(odd) { grid-column: 1/5; }
.header .center:nth-child(odd),
.header .main {
    margin: auto 0;
}
.header .main {
    grid-template-columns: repeat(4, 1fr);
    grid-column: 5/13;
    width: 100%;
    margin: auto;
}

.header .main select {
    grid-column: 1/4;
    width: 100%;
    height: 40px;
}

.header .main .icon {
    place-self: center;
    font-size: 1.5rem;
    cursor: pointer;
}


@media (max-width: 767px) {
    .header .center:nth-child(odd) { grid-column: 1/6; }
    .header .main { grid-column: 6/13; }

    @media (max-width: 531px) {
        .header { padding: 1.5rem; }

        .header .center:nth-child(odd),
        .header .main {
            grid-column: 1/13;
        }
        .header .center:nth-child(odd) { place-self: center; }
        .header .main { grid-row: 2; }
        .header .main .icon { place-self: end; }
    }
}