* , ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainWhite: #f1f5f8;
    --white: #fff;
    --red: #e73a3a;
    --yellow: #ffc107;
    --darkGrey: #333;
    --lightGrey: #5c5c5cb6;
    --mainGreen: #29ca8e;
    --mainSpacing: .1rem;
    --wordSpacing: .25rem;
    --mainTransition : all 2s ease-in-out;
}

li {
    list-style: none;
    display: inline;
}
a {
    text-decoration: none;
    color: inherit;
}
input, button, textarea {
    border: none;
    outline: none;
}
button { cursor: pointer; }

.App { overflow: hidden; }

.center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
}
.dark { background-color: var(--darkGrey); }
.mainSpacing { letter-spacing: var(--mainSpacing); }
.icon { margin: auto 3px auto 0; font-size: 1.15rem; }
.online { border: 2px solid var(--mainGreen); }
.offline { border: 2px solid var(--red); }
.hide { display: none; }
.show { display: grid; }
.error-message { color: var(--red); }
